@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }



@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.eot');
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Medium.woff') format('woff'),
    url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@mixin LatoLight {
    font-family: 'Lato Light', sans-serif;
}
@mixin LatoRegular {
    font-family: 'Lato Light', sans-serif;
}
@mixin GothamProRegular {
    font-family: 'Gotham Pro Regular', sans-serif;
}
@mixin GothamProMedium {
    font-family: 'Gotham Pro Medium', sans-serif;
}
@mixin GothamProLight {
    font-family: 'Gotham Pro Light', sans-serif;
}
@mixin LatoMedium {
    font-family: 'Lato Medium', sans-serif;
}